html,
body {
  margin: 0;
}
.container {
  display: flex;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 10px !important;
}

a {
  text-decoration: none;
}

.ql-editor {
  min-height: 200px;
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  main {
    padding: 24px !important;
  }
}
